<!-- footer.html -->
<footer class="bg-gt-navy text-white mt-5">
    <div class="container py-4">
      <div class="row">
        <!-- About Section -->
        <div class="col-md-4 mb-3">
          <h5>IndeedLite</h5>
          <p>Your lightweight job portal for finding your next career opportunity quickly and efficiently.</p>
        </div>
  
        <!-- Quick Links -->
        <div class="col-md-4 mb-3">
          <h5 style="color: #FFFFFF;">Quick Links</h5>
            <ul class="list-unstyled">

              {% if user.is_authenticated and user.profile.is_recruiter %}
                  <li><a href="{% url 'home.index' %}" class="text-white text-decoration-none">Home</a></li>
                  <li><a href="{% url 'recruiter_pipeline' %}" class="text-white text-decoration-none">Kanban</a></li>
                  <li><a href="{% url 'candidate_search' %}" class="text-white text-decoration-none">Candidate Search</a></li>
                  <li><a href="{% url 'job.create' %}" class="text-white text-decoration-none">Create Job</a></li>

              {% else %}
                  <li><a href="{% url 'home.index' %}" class="text-white text-decoration-none">Home</a></li>
                  <li><a href="{% url 'job_list' %}" class="text-white text-decoration-none">Jobs</a></li>
                  <li><a href="{% url 'recommended_jobs' %}" class="text-white text-decoration-none">Recommended</a></li>
                  <li><a href="{% url 'job_map_page' %}" class="text-white text-decoration-none">Job Map</a></li>
              {% endif %}

            </ul>
        </div>
  
        <!-- Contact -->
        <div class="col-md-4 mb-3">
          <h5 style="color: #FFFFFF;">Contact</h5>
          <p>
            <p>
                <i class="fab fa-github me-2"></i>
                <a href="https://github.com/itspattt/indeedSite/tree/main" target="_blank" class="text-white text-decoration-none">
                  GitHub
                </a>
              </p>
              
              <p>
                <i class="fas fa-globe me-2"></i>
                <a href="https://patcort84.wixsite.com/linkedinteamsite" target="_blank" class="text-white text-decoration-none">
                  Team Website
                </a>
              </p>
          </p>
        </div>
      </div>
  
      <hr class="border-light">
  
      <div class="text-center">
        &copy; {{ current_year }} IndeedLite
      </div>
    </div>
  </footer>
  